.active{
    color: rgb(138, 137, 137);
}
.friends-parent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 5px;
    justify-content: center;
    gap: 30px;
    padding-left: 10px;
}
.friends-card{
    display: flex;
    align-items: center;
    width: 250px;
    height: 80px;
    border: 1px solid #000;
    border-radius: 8px;
    text-align: start;
}
.friends-invite{
    width: 180px;
    height: 40px;
    border-radius: 7px;
    margin-left: 40px;
    background-color: blue;
    color: white;
    border: none;
}
.copy-link{
    font-size: 25px;
    margin-left: 5px;
}
.faClone{
    color: blue;
}
